@charset "UTF-8";
@font-face {
  font-weight: 400;
  /* Соответствует значению normal */
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  /* Соответствует значению bold */
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

a {
  text-decoration: none;
  color: #cacaca;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 1050px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 1050px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (min-width: 1050px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.header {
  position: relative;
}
.header .header-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 22px;
  height: 25px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}
.header .header-wrapper .logo-nav-wrapper {
  display: flex;
  width: 530px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.header .header-wrapper .logo-nav-wrapper .logo__icon {
  width: 24px;
  height: 24px;
  margin-right: 13px;
  vertical-align: center;
}
.header .header-wrapper .logo-nav-wrapper .logo__name {
  font-family: "Roboto";
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
.header .header-wrapper .logo-nav-wrapper .nav {
  display: flex;
  margin: 0;
  padding: 0;
}
.header .header-wrapper .logo-nav-wrapper .nav__item {
  margin-right: 25px;
}
.header .header-wrapper .logo-nav-wrapper .nav__item a {
  font-family: "Roboto";
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
.header .header-wrapper .search {
  padding: 0;
  margin: 0;
}
.header .header-wrapper .search__input {
  width: 240px;
  height: 26px;
  border: none;
  padding: 0;
  border-radius: 15px;
  padding-left: 10px;
  background: #3C3B3D;
  color: #cacaca;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.page-description {
  background: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}
.page-description .page-description-wrapper {
  margin: 0 auto;
  padding: 200px 0 200px 0;
  text-align: center;
}
.page-description .page-description-wrapper .header-subtitle {
  margin-bottom: 30px;
}
.page-description .page-description-wrapper .form-info {
  margin-bottom: 15px;
  font-size: 16px;
}
.page-description .page-description-wrapper .subscription-form {
  max-width: 570px;
  margin: 0 auto;
}
.page-description .page-description-wrapper .subscription-form__name {
  margin-right: 24px;
}
.page-description .page-description-wrapper .subscription-form__place {
  width: 273px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  background-color: transparent;
  color: #cacaca;
  font-size: 14px;
}
.page-description .page-description-wrapper .subscription-form__btn {
  display: inline;
  width: 100%;
  height: 57px;
  border-radius: 5px;
  background-color: #34C176;
  border: none;
}
.page-description .page-description-wrapper .subscription-form__btn:hover {
  border: 2px solid #cacaca;
}

/*# sourceMappingURL=style.css.map */
