
// === COLORS ===

$main-color: #cacaca;
$background-color: #08020d;
$dark: #3C3B3D;
$white: #fff;


// === /COLORS ===

// === FONT-SIZES ===

$text-size-sm: 11px;
$text-size-md: 13px;
$text-size-lg: 18px;

// === /FONT-SIZES ===

// === MEDIA-POINTS ===

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1050px;
$screen-xl: 1240px;

// === /MEDIA-POINTS ===
